.container-AddDrug {
    background-color: #F5F7FA;
    padding: 1rem;
    border-radius: 5px;
    color: #F5F7FA;
    .AddDrugTitle {
        color: #2E3A59;
    }
    .inputForm {
    border-radius: 5px;
    border: 0;
    padding: 4px;
    margin-top: .3rem ;
    }   
    .AddDrugFrom {
        margin-top: .4rem;
        background-color : #2E3A59;
        padding: 1rem;
        justify-content: space-evenly;
        align-items: center;
        width: 79rem;
        display: flex;
        border-radius: 5px;
    }
    .itemDrug {
        padding-left: 3rem;
    }
}
