.drugContent {
    flex-grow: 7;
    max-width: 75%;
    background-color: rgba(227, 227, 227, 0.471);
    padding: 1rem;
    border-radius: 7px;
    display: flex;
    height: max-content;
    line-height: 3rem;
    width: 65%;
}