.container {
    background-color: aqua;
    margin: .5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    align-items: center;
    .headerTitle {
        font-size:x-large;
    }
    .headerToolbar {
        display: flex;
        justify-content: space-between;
        width: 15%;
        border-radius: 23px;
        background-color: rgba(6, 185, 250, 0.766);
        padding: .1rem;
        .Log-btn {
            padding: .3rem;
            cursor: pointer;
            border-radius: 50%;
            width: 40px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0;
            transform-origin: right;
            transition: all .3s ease-in-out;
            .text-Login-btn {
                text-align: center;
                font-weight: bold;
                font-size: small;
                position: absolute;
                right: 20%;
                // opacity: 1;
            }
        }
        .Log-btn:hover {
            border-radius: 23px;
            width: 150%;
            margin-right: .2rem;
        }
        .contact-btn {
            padding: .4rem;
            cursor: pointer;
            border-radius: 50%;
            width: 40px;
            display: flex;
            position: relative;
            border: 0;
            justify-content: space-between;
            align-items: center;
            transform-origin: left;
            transition: all .3s ease-in-out;
        }
        .contact-btn:hover {
            border-radius: 23px;
            width: 150%;
            margin-left: .2rem;
            .text-call-btn {
                text-align: center;
                font-weight: bold;
                font-size: small;
                position: absolute;
                left: 50%;
            }
        }
    }
   
}