.navBar {
    flex-grow: 1;
    background-color:  #F5F7FA;
    padding: 1rem;
    border: 1px purple;
    border-radius: 7px;
    height: max-content;
    color: #2E3A59;
    width: 13%;
    display: flex;
    line-height: 2.5rem;
    flex-direction: column;
  }
  /* .navBar .li:hover {
    background-color: red
  } */
  .navBar li.active {
    background-color: #2E3A59;
    color: #F5F7FA;
    border-radius: 5px;
    transition: all .5s ease;
    list-style-type: none;
    text-align: center;
    padding: .1em;
    cursor: pointer;
  }
  .navBar li:hover {
    background-color: #6c88d0;
    border-radius: 6px;
    transition: all .5s ease;
    margin: .4rem 0 .4rem 0;
    text-align: center;
    color: #F5F7FA;
  }
  .navBar .menuListItem {
    list-style-type: none;
    cursor: pointer;
  }
  
  .Main-container {
    display: flex;
    margin: 0.5rem;
    column-gap: 10px;
    justify-content: space-evenly;
  }