.container-profile { 
    background-color: #F5F7FA;
    padding: 1rem;
    border-radius: 5px;
    .ProfileTitle {
        color: #2E3A59;
    }
    .profInput {
        border-radius: 5px;
        border: 0;
        padding: 4px;
        margin-top: .3rem ;
    }
    .AddProfile {
        margin-top: .4rem;
        background-color: #2E3A59;
        padding: 1rem 1rem 1rem .5rem;
        justify-content: space-between;
        align-items: center;
        width: 80rem;
        color: #F5F7FA;
        display: flex;
        border-radius: 5px;
    }
    .itemProf {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }
    .btn-container-profile {
        .btn-profile {
            margin-right: .4rem;
            width: 7%;
            padding: .8rem;
            border: 0;
            border-radius: 25px;
            background-color: #3B82F6;
            position: relative;
            color: #F5F7FA;
            font-weight: 700;
            cursor: pointer;
            transition: background .4s ease;
        }
        .btn-profile:hover {
            background-color: #044bbd;
        }
        display: flex;
        margin-top: .6rem;
    }
}
