.container {
  background-color: #F5F7FA;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  color: #2E3A59;
  justify-content: space-between;
  border-radius: 6px;
  align-items: center;
}
.container .headerTitle {
  font-size: x-large;
}
.container .headerToolbar {
  display: flex;
  justify-content: space-between;
  width: 15%;
  border-radius: 23px;
  background-color: rgba(212, 229, 255, 0.8392156863);
  padding: 0.1rem;
}
.container .headerToolbar .Log-btn {
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  transform-origin: right;
  transition: all 0.3s ease-in-out;
}
.container .headerToolbar .Log-btn .text-Login-btn {
  text-align: center;
  font-weight: bold;
  font-size: small;
  position: absolute;
  right: 20%;
}
.container .headerToolbar .Log-btn:hover {
  border-radius: 23px;
  width: 150%;
  margin-right: 0.2rem;
}
.container .headerToolbar .contact-btn {
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  display: flex;
  position: relative;
  border: 0;
  justify-content: space-between;
  align-items: center;
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}
.container .headerToolbar .contact-btn:hover {
  border-radius: 23px;
  width: 150%;
  margin-left: 0.2rem;
}
.container .headerToolbar .contact-btn:hover .text-call-btn {
  text-align: center;
  font-weight: bold;
  font-size: small;
  position: absolute;
  left: 50%;
}

.container-AddDrug {
  background-color: #F5F7FA;
  padding: 1rem;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #F5F7FA;
}
.container-AddDrug .AddDrugTitle {
  color: #2E3A59;
}
.container-AddDrug .inputForm {
  border-radius: 5px;
  border: 0;
  padding: 4px;
  margin-top: 0.4rem;
}
.container-AddDrug .AddDrugFrom {
  margin-top: 0.5rem;
  background-color: #2E3A59;
  padding: 1.5rem;
  display: flex;
  border-radius: 5px;
  column-gap: 3rem;
}
.container-AddDrug .btn-container-addDrug {
  position: absolute;
  top: 16.2rem;
  right: 1385px;
  display: flex;
  margin-top: 0.6rem;
}
.container-AddDrug .btn-container-addDrug .btn-AddDrug {
  display: flex;
  justify-content: center;
  margin-right: 0.4rem;
  padding: 0.7rem;
  border: 0;
  top: 90px;
  right: 1230px;
  border-radius: 10px;
  background-color: #00BFA6;
  color: #F5F7FA;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease;
}
.container-AddDrug .btn-container-addDrug .btn-AddDrug:hover {
  background-color: #00907d;
}
.container-AddDrug .error-Drug {
  background-color: red;
  font-size: 12px;
  position: absolute;
  font-weight: 700;
  color: white;
  top: 80px;
  transition: all 0.5s ease;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  margin-bottom: 0.5rem;
}

.container-profile {
  background-color: #F5F7FA;
  padding: 1rem;
  height: fit-content;
  border-radius: 5px;
}
.container-profile .ProfileTitle {
  color: #2E3A59;
}
.container-profile .profInput {
  border-radius: 3px;
  border: 0;
  padding: 4px;
  margin-top: 0.3rem;
}
.container-profile .AddProfile {
  margin-top: 0.4rem;
  background-color: #2E3A59;
  padding: 1rem 1rem 1rem 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  width: 80rem;
  color: #F5F7FA;
  height: 4rem;
  display: flex;
  border-radius: 5px;
}
.container-profile .itemProf {
  display: flex;
  flex-direction: column;
}
.container-profile .btn-container-profile {
  position: absolute;
  top: 253px;
  left: 25px;
  display: flex;
  margin-top: 0.6rem;
}
.container-profile .btn-container-profile .btn-profile {
  margin-right: 0.4rem;
  padding: 0.7rem;
  width: 100%;
  border: 0;
  top: 88px;
  right: 1220px;
  border-radius: 10px;
  background-color: #00BFA6;
  color: #F5F7FA;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease;
}
.container-profile .btn-container-profile .btn-profile:hover {
  background-color: #00907d;
}
.container-profile .error-prof {
  background-color: red;
  font-size: 12px;
  position: absolute;
  font-weight: 700;
  color: white;
  top: 210px;
  transition: all 0.5s ease;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  margin-bottom: 0.5rem;
}
.container-profile .popup {
  position: fixed;
  top: 20px;
  left: 50%;
  background-color: rgb(55, 206, 55);
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.navBar {
  flex-grow: 1;
  background-color: #F5F7FA;
  padding: 1rem;
  border: 1px purple;
  border-radius: 7px;
  height: max-content;
  color: #2E3A59;
  width: 150px;
  display: flex;
  line-height: 2.5rem;
  flex-direction: column;
  flex-grow: 1;
}

/* .navBar .li:hover {
  background-color: red
} */
.navBar li.active {
  background-color: #2E3A59;
  color: #F5F7FA;
  border-radius: 5px;
  transition: all 0.5s ease;
  list-style-type: none;
  text-align: center;
  padding: 0.1em;
  cursor: pointer;
}

.navBar li:hover {
  background-color: #6c88d0;
  border-radius: 6px;
  transition: all 0.5s ease;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  color: #F5F7FA;
}

.navBar .menuListItem {
  list-style-type: none;
  cursor: pointer;
}

.Main-container {
  display: flex;
  margin: 0.5rem;
  column-gap: 10px;
  justify-content: space-evenly;
}

.container-HomePage {
  width: 81rem;
  display: flex;
}
.container-HomePage .imageOfHome {
  position: absolute;
  left: 770px;
  top: 120px;
  box-shadow: 4px 10px 15px rgb(255, 254, 254);
}
.container-HomePage .contentOfHomePage {
  display: flex;
  background-color: #F5F7FA;
  flex-direction: column;
  position: absolute;
  top: 180px;
  left: 90px;
  border-radius: 15px;
  border-style: inset;
  border: 0;
  border-top: 2rem solid #2E3A59;
  padding: 2rem;
  row-gap: 4rem;
  width: 35%;
  transition: all 0.3s ease;
  height: 50%;
}
.container-HomePage .contentOfHomePage .titleHomeContext {
  height: 1rem;
  text-align: center;
}
.container-HomePage .contentOfHomePage .mainTextHome {
  line-height: 1.7rem;
  text-align: justify;
}
.container-HomePage .contentOfHomePage:hover {
  transform: translateY(-5px);
}

.container-AddPerscription {
  background-color: #F5F7FA;
  padding: 1rem;
  border-radius: 5px;
  height: fit-content;
}
.container-AddPerscription .title-perscription {
  color: #2E3A59;
  margin-bottom: 0.5rem;
}
.container-AddPerscription .AddPerscription {
  background-color: #2E3A59;
  padding: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}
.container-AddPerscription .AddPerscription .pers_item {
  color: #F5F7FA;
}
.container-AddPerscription .AddPerscription .pers_item .input-item {
  margin-left: 0.5rem;
  padding: 4px;
}
.container-AddPerscription .AddPerscription .btn-container-perscription {
  position: absolute;
  top: 15.3rem;
  right: 1390px;
}
.container-AddPerscription .AddPerscription .btn-container-perscription .btn-perscription {
  padding: 0.7rem;
  margin-left: 0.2rem;
  border-radius: 10px;
  border: none;
  background-color: #00BFA6;
  color: #F5F7FA;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease;
}
.container-AddPerscription .AddPerscription .btn-container-perscription .btn-perscription:hover {
  background-color: #00907d;
}
.container-AddPerscription .error-perscription {
  background-color: red;
  font-size: 12px;
  position: absolute;
  font-weight: 700;
  color: white;
  top: 180px;
  transition: all 0.5s ease;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  margin-bottom: 0.5rem;
}
.container-AddPerscription .persID {
  right: 1105px;
}
.container-AddPerscription .persDate {
  right: 700px;
}
.container-AddPerscription .persPhysician {
  right: 325px;
}

.Report-section {
  background-color: #f7f7f7;
  padding: 1rem;
  height: fit-content;
  width: 82rem;
  border-radius: 5px;
}
.Report-section .Report-title {
  color: #2E3A59;
}
.Report-section .label-report {
  margin-right: 0.5rem;
}
.Report-section .btn-report {
  border-bottom: 2px solid rgb(100, 100, 255);
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 0.5rem;
  transition: 0.4s ease;
  cursor: pointer;
  font-weight: 600;
}
.Report-section .btn-report:hover {
  border: 2px solid rgb(100, 100, 255);
  background-color: #f7f7f7;
}
.Report-section #Report-id {
  padding: 0.3rem;
  border: none;
  border-bottom: 2px solid rgb(100, 100, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}
.Report-section #Report-id:hover {
  background-color: #f7f7f7;
}
.Report-section .report-list {
  background-color: #ededed;
  border-radius: 5px;
  padding: 1rem;
}
.Report-section .table {
  padding: 1rem;
  border-radius: 5px;
}

.main-data-compoent {
  width: 88rem;
}

.PIS-footer {
  background-color: #2E3A59;
  color: #F5F7FA;
  padding: 1rem;
}

.Main-container {
  display: flex;
  margin: 0.5rem;
  column-gap: 10px;
  min-height: 100vh;
}

html {
  background-color: #bbd2ff;
  font-family: sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}
html * {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
